html{
    background-color: rgb(202, 202, 202);
}
.name{
    text-align: center;
    display: block;
    font-size: 40px;
    font-weight: bold;
}
.todo{
    width: 80%;
    margin: 50px auto;
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px 0px 8px 8px;
    background-color: rgb(240, 240, 240);
    position: relative;

}
.todo__add-btn {
    height: 30px;
    width: 120px;
    border: 1px solid black;
    border-radius: 5px 5px 0px 0px;
    cursor: pointer;
    outline: none;
    background-color: rgb(240, 240, 240);
    position: absolute;
    top: -30px;
    right: -1px;
    
}
.todo__title{
    font-weight: bold;
    font-size: 25px;
}
.todo__item {
    position: relative;
    margin: 5px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
}
.todo__description {
    font-size: 20px;
}
.todo__item:nth-child(even) {
    background-color: rgb(206, 206, 206);
}
.todo__item:nth-child(odd) {
    background-color: rgb(150, 150, 150);
}
.todo__item-delete{
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
}
.modal__bg{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    opacity: .3;
    z-index: 99;
}
.modal__window {
    position: fixed;
    width: 350px;
    height: 400px;
    margin: 0 auto;
    background-color: #fff;
    z-index: 100;
    border: 1px solid black;
    border-radius: 5px;
}
.modal__window-inner{
    margin: 5px;
}
.modal {
    position:fixed;
    display:flex;
    align-items:center;
    justify-content:center;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    z-index: 98;
    box-sizing: border-box;
}
.title, .description {
    margin: 5px;
}
.createBtn {
    display: block;
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    cursor: pointer;
}
.emptyList{
    display: block;
    text-align: center;
    font-size: 30px;
}
.logout{
    float: right;
}
.creation-date {
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
}
